# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [1]:
# Answer here
a = 8
b = 12
c = a+b
print(c)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [2]:
# Answer here
a = 7
b = 20
c = b-a
print(c)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [3]:
# Answer here
a = 6
b = 9
c = a*b
print(c)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [19]:
# Answer here
a = 45
b = 9
c = a/b
print(c)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [23]:
# Answer here
a = 45
b = 9
c = a//b
print(c)
a1 = 50
b1 = 6
c1 = a1//b1
print(c1)

5
8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [6]:
# Answer here
a = 29
b = 5
c = a%b
print(c)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [7]:
# Answer here
a = 3
b = 4
c = a**b
print(c)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [8]:
# Answer here
a = 5
print(+a)
print(-a)

5
-5

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [9]:
# Answer here
a = 5+3*2
print(a)
b = (5+3)*2
print(b)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [10]:
# Answer here
a = 15
b = 4
c = a+b
print(c)
d = a-b
print(d)
e = a*b
print(e)
f = a/b
print(f)
g = a//b
print(g)
h = a%b
print(h)
i = a**b
print(i)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [11]:
# Answer here
n = 10
n += 5
print(n)
n *= 2
print(n)
n -= 4
print(n)

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [1]:
# Answer here
"""x = 3
y = 7
c = x
x = y
y = c
print(x)
print(y)"""
x = 3
y = 7
x,y = y,x
print(x)
print(y)

7
3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [3]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
num_1 = float(input("Enter first number: "))
num_2 = float(input("Enter second number: "))
result = print("The sum of both number is : ",num_1+num_2)
print(result)

The sum of both number is :  35.0
None

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [5]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
num_1 = float(input("Enter first number : "))
num_2 = float(input("Enter second number : "))
num_3 = float(input("Enter third number : "))
average = (num_1+num_2+num_3)/3
print("The avergae of 3 numbers is : ",average)

The avergae of 3 numbers is :  9.9

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [6]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
pie = 3.14159
radius = float(input("Enter the radius to get circumference and area of circle : "))
circumference = 2*pie*radius
area = pie*radius**2
print("The circumference of circle is : ",circumference)
print("The area of circle is : ",area)

The circumference of circle is :  1665.0427
The area of circle is :  220618.15774999998

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [2]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
second = int(input("Enter time in seconds for getting it in hours and minutes : "))
hours = second/3600
minutes = second/60
print("Entered time in hours is : ",hours,"hours")
print("Entered time in minutes is : ",minutes,"minutes")
print("Entered time in seconds is : ",second,"seconds")
print(f"{hours} : {minutes} : {second}")

Entered time in hours is :  1.0 hours
Entered time in minutes is :  60.0 minutes
Entered time in seconds is :  3600 seconds
1.0 : 60.0 : 3600

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [13]:
# Answer here
principal = float(input("Enter the principal amount : "))
rate = float(input("Enter the rate on which you are giving principal amount : "))
time = float(input("Enter for how much time you are giving principal amount : "))
simple_interest = (principal*rate*time)/100
print("The interest you will get is : ",simple_interest,"Rs.")

The interest you will get is :  500.0 Rs.